language: python
python:
  - "3.4"
  - "3.3"
  - "2.7"
  - "2.6"
install:
  - sudo apt-get install zlib1g-dev
  - sudo ln -s /usr/lib/i386-linux-gnu/libz.so /usr/lib
  - pip install coveralls
script:
  - coverage run --source=glue setup.py test
after_success:
  coveralls
